.hero {
    position: relative;

    &_image {
        height: 700px;

        @media only screen and (max-width: 992px) {

            height: 500px;
        }

        &-file {
            object-fit: cover;
        }

    }

    &_overlay {
        position: absolute;
        bottom: 40px;
        width: 100%;


        &-buttons {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 40px;
            top: 300px;

            @media only screen and (max-width: 900px){
                padding: 0 20px;
                top: 200px;
            }
        }

        &-content {
            padding: 50px 80px 50px 80px;

            &_title {
                font-size: 50px;
                font-weight: 400;

                @media only screen and (max-width: 900px){
                    font-size: 35px;
                    font-weight: 500;
                }
            }

            &_text {
                font-size: 18px;
                font-weight: 400;

                @media only screen and (max-width: 900px){
                    font-size: 15px;
                  
                }
            }

            &_button {
                color: #000;
                text-transform: uppercase;
                background-color: transparent;
                border: 1px solid #000;
                padding: 12px 56px;
                font-size: 12px;
                font-weight: 600;
                margin-top: 40px;
            }
        }

        &-line {
            height: 1px;
            background-color: #AAAAAA;
            margin: 0 40px;
        }
    }
}