.products{
    padding-left: 80px;
    padding-right: 80px;

    &_filter{
        display: flex;
        align-items: flex-start;
        padding-left: 10px;

        &-left{
            display: flex;

            &_item{
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
                padding-right: 30px;
            }
        }

        &-right{
            margin-left: auto;

            &_item{
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
                padding-right: 10px;
                align-items: center;
                display: flex;
            }
        }

        
    }

    &_list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;
        justify-content: center;

       &-item{
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid #000;
        margin-top: 30px;

        &_image{
            border-bottom: 1px solid #000;
        }

        &_text{
            display: flex;
            align-items: center;
            &-title{
                padding-left: 20px;
                &_name{
                    font-weight: 500;
                    font-size: 13px;
                    text-transform: uppercase;
                }

                &_price{
                    font-size: 13px;
                    font-weight: 400;
                }
            }

            &-icon{
                margin-left: auto;
                border-left: 1px solid #000;
                padding: 20px;
            }
        }
        &_overlay{
            position: absolute;
        }
       } 
    }

}