.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px;

    &_text{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }

    &_overlay{
        display: flex;
        position: absolute;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        align-items: center;
        justify-content: center;
        height: 100%;

        &-next{
            margin-left: auto;
        }
    }
}